@charset "UTF-8";

.container{
	width: 1100px;
	margin: 0 auto;
}

.gl-header{
	height: 82px;
	background-color: #343a40;
	padding-bottom: 30px;
	overflow: hidden;
}

.gl-header h1{
	float: left;
}

.gl-header h1 a{
	display: block;
	width: 154px;
height: 25px;
background: url("../images/logo.jpg") 0 0 no-repeat;
text-indent: -9999px;
}

.gl-header h1 a:hover{
	opacity: .5;
}

.gl-nav ul{
	overflow: hidden;
	padding: 5px 0 0 42px;
}

.gl-nav li{
	float: left;
margin-right: 12px;
line-height: 1;
}

.gl-nav li a{
	color: #d4d3d3;
}
.gl-nav li a:hover{
	color: #e85000;
}

.gl-footer{
	height: 176px;
	padding-top: 50px;
	background-color: #343a40;
}
.gl-footer small{
line-height: 2;
color: #6c757d;
}

.gl-footer small a{
	color: #e85000;
}


.gl-footer small a:hover{
	opacity: .5;
}


/*-------------------------
	トップ
-------------------------*/


.top-main{
	padding-top: 40px;
}
.top-topics{
	margin-bottom: 60px;
}

.top-topics ul{
overflow: hidden;
}

.top-topics li{
	float: left;
	margin-right: 25px;
width: 350px;
}

.top-topics li img{
	display: block;
	width: 210px;
	margin: 0 auto 10px;
}

.top-topics li h2{
	color: #e85000;
font-size: 3.2rem;
letter-spacing: -0.02em;
margin-bottom: 20px;
}

.top-topics li p{
	line-height: 1.5;
	margin-bottom: 24px;
}


.top-topics li .btn{
	display: flex;
}

.top-topics li .btn a{
display: block;
width: 60px;
height: 40px;
margin-right: 8px;
padding-top: 10px;
border-radius: 3px;
line-height: 1.2;
text-align: center;
color: #fff;
background-color: #e85000;
}

.top-topics li .btn a:hover{
	opacity:  .5;
}

.top-topics li .btn a:ntn-of-type(2){
	background-color: #ffc108;
color: #000;
}
.top-banner ul{
	display: flex;
	margin-bottom: 60px;
}

.top-banner li:last-child{
	margin-right: 0;
}

.top-banner li a img:hover{
	opacity: .5;
}
